*{
    margin:  0;
    padding: 0;
}

body {
    font-family: monospace;
}

/* Main */
.main {
    background-color: cyan;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
}

.main .main-content {
    top: 40%;
    left: 10%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* background-color: cadetblue; */

}

/* Sidebar */
.main navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    /* height: 100vh; */
}

.nav-items { order: 1;}
.mode { order: 2;}

.main navbar ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    top: 0;
    width: 20%;
    height: 100%;
    background-color: darkgray;
    right: 0;
    width: 20%;
}

.main navbar .mode{
    display: flex;
    position: absolute;
    /* margin: 5px; */
    /* align-items: center; */
    justify-content: space-evenly;
    right: 0;
    width: 20%;
    height: 15%;
    bottom: 0;
    align-items: center;
}

.main navbar .mode button{
    cursor: pointer;
}

.main navbar ul li a{
    text-decoration: none;
}


